<h1>All Chats</h1>

<table>
  <tr>
    <th>Sender ID</th>
    <th>Sender Name</th>
    <th>Receiver ID</th>
    <th>Receiver Name</th>
    <th>Actions</th>
  </tr>

  <% @chat.each do |chat| %>
    <tr>
      <td><%= chat.sender_id %></td>
      <td><%= "#{chat.sender.first_name} #{chat.sender.last_name}" %></td>
      <td><%= chat.receiver_id %></td>
      <td><%= "#{chat.receiver.first_name} #{chat.receiver.last_name}" %></td>
      <td><%= link_to 'Show', chat_path(chat) %></td>
      <td><%= link_to "Edit", edit_chat_path(chat) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add new chat", new_chat_path %>
