<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mi Aplicación" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Bootstrap CSS %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", integrity: "...", crossorigin: "anonymous" %>



    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>

    <%# 🔹 Barra de navegación %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Ran-Log's Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><%= link_to 'Old Page', old_page_path, class: "nav-link" %></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><%= link_to 'Users', users_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Chats', chats_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Messages', messages_path, class: 'nav-link' %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%# 🔹 Contenido de la página %>
    <div class="container mt-4">
      <%= yield %>
    </div>

    <%# 🔹 Footer %>
    <footer class="bg-dark text-white text-center py-3 mt-4">
      <p>&copy; 2024 Ran-Log's Site. All rights reserved.</p>
      <p>
        <a href="#" class="text-white me-3">Twitter</a>
        <a href="#" class="text-white me-3">Facebook</a>
        <a href="#" class="text-white">Instagram</a>
      </p>
    </footer>

    <%# Bootstrap JS %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity: "sha384-rOe3nAoe8Qn2f1F04Nn5a6p8N4lChnPmHPFlw+x+AMlIH9E7dtemFjA9aYge1Fdp", crossorigin: "anonymous" %>

  </body>
</html>
